@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Baloo Paaji';
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullpage-1 {
    background-color: skyblue;
}

.container {
    position: absolute;
    left: 30%;
    top: 30%;
}

.title {
    text-align: center;
}



.fullpage-2 {
    background-color: skyblue;
    
}


.about {
    width: 80%;
    
    position: absolute;
    top: 10%;
    left: 10%;
    
}

.about > h1{
    padding: 10px;
    text-decoration: white underline;
}

.about__inner{
    display: flex;
    padding: 30px;
    
    
}

.about__inner > .left{
    margin-right: 100px;
}

.me {
    width: 230px;
    height: 300px;
    
}
.about__inner>.right{
    display: flex;
    
}



.about__inner>.right>ul{
    margin-right: 90px;
}

.right > ul > h1 {
    
    padding: 10px;
    margin: 10px;
}



.label{
    position: absolute;
    top: 55%;
    left: 10%;
    margin-top: 60px;
    
}

.label > h1{
    margin-bottom: 25px;
    text-decoration:white underline;
}

section{
    display: flex;

}
select{
    width: 120px;
    height: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-right: 50px;
}

.fullpage-3 {
    background-color: skyblue;
}

.project{
    position: absolute;
    top: 70px;
    margin-left: 60px;
    
}

.project > h1{
    text-decoration: underline white;
}
.project__box{
    width: 130%;
    display: flex;
    border: 1px solid white;
    border-radius: 25px;
    flex-wrap: 1fr 1fr 1fr 1fr;
    
}

.project__box > div{
   margin: 20px 0 0 50px;
}

.project__box > div > img{
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin: 50px;
}

.project__box>div>img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.contact{
    position: absolute;
    bottom: 200px;
    left: 60px;
    
}

.contact-text > h1{
    text-decoration:underline white;
    margin: 10px;
}

.contact-btn > button{
    
    margin-left: 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 19px;
    padding: 10px;
    background-color: white;
    cursor: pointer;

}

.contact-btn>button:hover{
    border: 2px solid white;
    color: white;
    background-color: black;
}